<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b490">  <td>18/01/30 12:53:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Setup.Startup()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">&gt;&gt;Startup</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="6ae0ad">  <td>18/01/30 12:54:05</td>   <td>6622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.TC_001()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">TC_001</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/01/30 12:54:43</td>   <td>44865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Setup.closeDriver()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/01/30 12:54:44</td>   <td>46068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Setup.Startup()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">&gt;&gt;Startup</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="6ae0ad">  <td>18/01/30 12:54:46</td>   <td>48320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.TC_002()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">TC_002</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>18/01/30 12:55:24</td>   <td>86133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Setup.closeDriver()[pri:0, instance:com.syne.scripts.SmokeTest@23ceabc1]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
</table>
